    <footer> 
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.998);">
    <a style="text-decoration: none; text-align: center;" class="text-white" href="/">© Crud - Todos os direitos reservados.</a>
    </div>
    <!-- Copyright -->
    </footer>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="/js/bootstrap.min.js"></script>
  
  
  </html>
  
  